* {
    box-sizing: border-box;
  }
  :root {
    --primary: #8edc97;
    --light: #ffffff;
    
  }

  body {
    font-family: Arial;
    margin: 0;
    line-height: 1;
  }
  
  header {
    background: #13293d;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }

  header h1{
    color: white;
    border: 8px solid white;
    border-radius: 36px;
    margin: 0;
    line-height: 1;

  }

  nav {
    display: flex;
    background-color: #d8a47f;
    flex-direction: row;

  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: all 2s ease-in;
  }



  .hero {
    display: grid;
    grid-template-columns: 1fr; // stretch to the full frame
    grid-template-rows: 350px; // 350 pixels tall
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
  }

  .heroimage {
    grid-area: 1 / 1 / 2 / 2;
  }
  .banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 30%,
      rgba(255, 255, 255, 0) 100% );
  }

  .herotext {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bannerimage {
    display: grid;
    min-width: 350px; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }



main {
    display: flex;
    flex-wrap: wrap;
}

.portfolio {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin: 10px;
background: #13293d;
}


  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    margin: 5px;
  }

  